html, body {
    padding: 0;
    margin: 0;
    font-family: 'Helvetica Neue', arial, sans-serif;
    background-color: #F2F2F2;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
}